services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: enviaya_api
    restart: unless-stopped
    working_dir: /var/www
    environment:
      - APP_ENV=production
      - APP_KEY=${APP_KEY}
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=${DB_DATABASE:-laravel}
      - DB_USERNAME=${DB_USERNAME:-laravel}
      - DB_PASSWORD=${DB_PASSWORD:-password}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    ports:
      - "8000:8000"
    networks:
      - dokploy-network
    depends_on:
      - redis   # <-- esto es importante

  redis:
    image: redis:alpine
    restart: unless-stopped
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
